torch
torchvision
torchaudio

numpy
pandas
scipy
scikit-learn
joblib

onnx
onnxruntime

opencv-python

fastapi
uvicorn
pydantic
python-multipart

PyYAML

requests
orjson

tqdm

pytest
black
ruff
mypy
nicegui
plotly
wandb
onnxscript
transformers>=4.50
python-dotenv>=1.0.0