torch
torchvision
torchaudio

numpy
pandas
scipy
scikit-learn
joblib

onnx
onnxruntime

opencv-python

fastapi
uvicorn
pydantic
python-multipart

PyYAML

requests
python-dotenv
orjson

tqdm

pytest
black
ruff
mypy
nicegui
plotly
wandb  
pathlib
onnxscript
transformers>=4.50